<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <startup>      
    <supportedRuntime version="v2.0.50727"/></startup>
  <appSettings>
    <add key="user" value="42052701,测试,"/>
  </appSettings>
 <connectionStrings>
    <add connectionString="Data Source=127.0.0.1;Initial Catalog=医保收费;user id=sa;password=Ly1994318426kb" name="connection1" />
  </connectionStrings>
</configuration>
