<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <startup>      
    <supportedRuntime version="v2.0.50727"/></startup>
  <appSettings>
    <add key="user" value="420527700120,7000120,123456,"/>
  </appSettings>
 <connectionStrings>
    <add connectionString="Data Source=123.207.242.163;Initial Catalog=医保缴费;user id=user1;password=qazwsx123456" name="connection1" />
  </connectionStrings>
</configuration>
